img {
    object-fit: cover;
    width: 200px;
    height: 15vh;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}
    
.item{
    margin-right: 1em;
    font-size: 1.2em;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: #53d6c5;
}
