.btn{
    background-color: #38e1e7;
    color: white;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.btn:hover{
    transform: scale(1.1);
    background-color: #01878b;
}