.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.newproject_container p {
    font-size: 1.2em;
    color: #666;
   
}