.project_details{
    padding: 2em;
}

.project_details h1,
.project_details h2,
.project_details p{
    margin-bottom: 1em;
    
    


}



.fullWidth {
  display: block; 
  width: 100%;
  max-width: 100%;
}




.project_details h1{
    width: 100%;
    background-color: #222;
    color: aqua;
    padding: .7em;
    
}

.project_details span{
    font-weight: bold;
}


.service_form_container {
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
}

.service_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.details_container{
border-bottom: 1px solid #7a7a7a;
margin-bottom: 1.2em;
padding-bottom: 1.2em;
display: flex;
justify-content: space-between;
align-items: self-start;
flex-wrap: wrap;

}

.btn{

    background-color: aqua;
    color: rgb(255, 255, 255);
    padding: 1em 1em ;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
    
  
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
    background-color: #198c94;
    color: rgb(255, 255, 255);
}