.service_card {
  flex: 1 1 300px; /* largura flexível mínima de 300px */
  max-width: 350px;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.5%;
  background-color: #f9f9f9;

}

.service_card h4 {
    background-color: #111;
    color: #38e1e7;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.1em;

}

.service_card p {

    color: #7a7a7a;
    margin-bottom: 1em;

}

.service_card p span {
    font-weight: bold;
}



.service_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;

}

.service_card_actions a,
.service_card_actions button {

    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;


}

.service_card_actions svg {
    margin-right: .5em;
}

.service_card_actions a:hover,
.service_card_actions button:hover {
    background-color: #222;
    color: #38e1e7;
}