body{
  padding: 50px;
  background-color: rgb(189, 189, 189);
  padding-bottom: 500px;

}

h1{
  color: rgb(70, 70, 70);
 font-size: 3em;
  
}

p{
padding: 10px;
background-color: rgb(87, 87, 87);
color: white;
}